{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	.navModel4{
		display: block !important;
	}
	form {
		margin: 0 !important; 
		display: inline-block !important;
	}	
	thead{
		background: #fafafa;
	}
	table{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		border: 1px solid #f0f0f0;
	}
	th,td{
		border: 1px dashed #f0f0f0;
		text-align: center;
	}
	th{
		height: 45px;
	}
	td{
		height: 62px;
	}
</style>

<input type="hidden" id="nowhtml" value="navModel" class="navModel4-2">

	<div class="row-fluid">

	<div class="span12">


		<div class="portlet box ">


			<div class="portlet-body">


				<table id="sample_editable_1">

					<thead>

						<tr>
							
							<th style="width: 50px;">ID</th>
							<th style="width: 100px;">签到人</th>
							<th style="width: 50px;">签到积分</th>
							<th style="width: 100px;">签到时间</th>

						</tr>

					</thead>

					<tbody>
						
						{if $sign}
							{foreach $sign as $item}
								<tr>
									<td>{$item.id}</td>
									<td><img src="{$item.avatar}" alt="" style="width:55px;">{$item.nickname}</td>
									<td style="color:green">{$item.score}</td>
									<td>
										{$item.creattime}
									
									</td>
	
								</tr>
							{/foreach}
						{/if}
						
					</tbody>

				</table>
				<!-- 分页 -->
				<div>
					<div class="fenye_left">
						<!-- 一共查询到<font color="red" style="padding:0 10px;">{$counts}</font>条数据 -->
					</div>
					<div class="fenye_right">
						{$page}
					</div>
				</div>

			</div>

		</div>
		

	</div>

</div>


{include file="public/foot_more" /}