<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<!-- Stylesheets -->
<link href="/hone/css/bootstrap.css" rel="stylesheet">
<link href="/hone/css/style.css" rel="stylesheet">
  <link href="/hone/css/responsive.css" rel="stylesheet">
<link href="/db/css/style.css" rel="stylesheet" type="text/css"/>
<script src="/db/js/jquery.min.js"></script>
<link href="/hone/css/responsive.css" rel="stylesheet">
<link rel="shortcut icon" href="/hone/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/hone/images/favicon.png" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
{include file="public/head"}
<div class="page-wrapper">

<!-- Preloader -->
<div class="preloader"></div>

<!-- Main Header-->
<header class="main-header">
  
  <!--End Header Upper-->
  
</header>
<!--End Main Header -->

<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!--Appointment Box-->

<section class="appointment-box">
  <div class="inner-box">
    <div class="cross-icon"><span class="flaticon-cancel"></span></div>
    <div class="title">
      <h2>Get Appointment</h2>
    </div>
    
    <!--Appointment Form-->
    <div class="appointment-form">
      <form method="post" action="contact.html">
        <div class="form-group">
          <input type="text" name="text" value="" placeholder="Name" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" value="" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <input type="text" name="phone" value="" placeholder="Phone no." required>
        </div>
        <div class="form-group">
          <textarea placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="theme-btn btn-style-one"><span class="txt">Submit now</span></button>
        </div>
      </form>
    </div>
    
    <!--Contact Info Box-->
    <div class="contact-info-box">
      <ul class="info-list">
        <li><a href="mailto:ReXseo@yousite.com">ReXseo@yousite.com</a></li>
        <li><a href="tel:+(000)0000000">+(000) 000 0000</a></li>
      </ul>
      <ul class="social-list clearfix">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Google +</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
</section>
<!--End Consulting Form-->

<!--Page Title-->
<section class="page-title" style="background-image:url(/hone/images/background/5.jpg)">
  <div class="auto-container">
    <h1>关于我们</h1>
    <ul class="page-breadcrumb">
      <li><a href="index.html">首页</a></li>
      <li>发展历程</li>
    </ul>
  </div>
  <div class="curve-image"></div>
</section>
<!--End Page Title-->
<!--Discover Section-->
<section class="discover-section">
  <div class="auto-container">
  <div class="row clearfix">
    
    <!--Content Column-->
    <div class="content-column col-lg-6 col-md-12 col-sm-12">
      <div class="inner-column wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
        <!--Sec Title-->
        <div class="sec-title">
          <div class="title-icon"><span class="icon"><img src="/hone/images/icons/separater.png" alt="" /></span></div>
          <div class="title">万能科技有限公司</div>
          <h2>实力打造非凡，王者决非偶然!</h2>
        </div>
        <div class="text">
          <div class="intro_right">{if $info}{$info.descs}{/if}</div>
          <div class="intro_right">{if $info}{$info.teamdesc}{/if}</div>
          <!-- List Style One -->
          <ul class="list-style-one">
            <li><span class="icon"><img src="/hone/images/icons/7.png" alt="" /></span>北京市海淀区XXXXXXXXX</li>
            <li><span class="icon"><img src="/hone/images/icons/8.png" alt="" /></span>万能联盟（互联网企业生态圈）</li>
          </ul>
          <div class="btn-box"><a href="contact.html" class="theme-btn btn-style-four"><span class="txt">discover more</span></a></div>
        </div>
      </div>
      
      <!--Image Column-->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
          <img src="/hone/images/resource/image-3.png" alt="" title=""> 
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Discover Section-->

<!--Experts Section-->
<section class="experts-section">
  <!--Title Box-->
  <div class="title-box" style="background-image:url(/hone/images/resource/background/2.jpg)">
    <div class="auto-container">
      <h2>选择我们的优势</h2>
      <div class="text">物料支持 培训支持 市场支持 团队建设 现场扶持 代理商交流 技术支持 客服支持<br>
        宣传页、手册、视频、易拉宝 视频、现场、总部、微信、电话、客户、广告、宣传页、手册、视频、技术专服、定制、代维护</div>
    </div>
  </div>
  <div class="auto-container">
    <div class="inner-container">
      <div class="row clearfix">
        
        <!--Expert Block-->
        <div class="expert-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image"><img src="/hone/images/resource/expert-1.png" alt="" title=""></div>
            <div class="lower-content">
              <h3>后台使用视频教学</h3>
              <div class="text">技术支持：后台视频教程，文字教程，装修就是这么简单.</div>
            </div>
          </div>
        </div>
        
        <!--Expert Block-->
        <div class="expert-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
            <div class="image"><img src="/hone/images/resource/expert-2.png" alt="" title=""></div>
            <div class="lower-content">
              <h3>程序部署安装服务器</h3>
              <div class="text">购买小程序系统免费安装部署到服务器使用，无服务器可以依托本站系统搭建.</div>
            </div>
          </div>
        </div>
        
        <!--Expert Block-->
        <div class="expert-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
            <div class="image"><img src="/hone/images/resource/expert-3.png" alt="" title=""></div>
            <div class="lower-content">
              <h3>售后24小时专业服务</h3>
              <div class="text">用户可以通过微信 QQ群 电话联系售后服务，实时解决用户问题.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Experts Section-->

<!--Seo Section Two-->
<section class="seo-section-two">
  <div class="outer-container">
    <div class="clearfix">
      
      <!--Image Column-->
      <div class="image-column">
        <div class="inner-column clearfix">
          <div class="big-image"><img src="/hone/images/resource/image-4.png" alt="">
            <div class="image"><img src="/hone/images/resource/seo.png" alt="" /></div>
          </div>
        </div>
      </div>
      
      <!--Content Column-->
      <div class="content-column">
        <div class="inner-column">
          <!--Sec Title-->
          <div class="sec-title">
            <div class="title-icon"><span class="icon"><img src="/hone/images/icons/separater.png" alt="" /></span></div>
            <div class="title">加盟项目类型</div>
            <h2>欢迎加盟万能系统微信小程</h2>
          </div>
          <div class="text">餐饮服务 电商服务 鲜花礼品 商会 生鲜蔬果 蛋糕烘焙 企业展示 按摩足疗 保险 教育培训 外卖 家政 KTV 婚庆摄影 汽车 便利店 本地生活圈 家具 珠宝首饰 母婴 农产品 房产 美容美业 票务公众号 电商批发市场 旅游 装修设计 金融 健身运动 驾校 宠物店 五金 球场预定 更多.</div>
          <div class="row clearfix">
            
            <!--Feature Block Three-->
            <div class="feature-block-three col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <h3><span>01.</span>选择加盟</h3>
                <div class="feature-text">通过了解万能门店小程序，选择加盟或成为代理商家.</div>
              </div>
            </div>
            
            <!--Feature Block Three-->
            <div class="feature-block-three col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <h3><span>02.</span>合作洽谈</h3>
                <div class="feature-text">合作了解小程序行业，了解公司实力以及开发程序后台的介绍演示.</div>
              </div>
            </div>
            
            <!--Feature Block Three-->
            <div class="feature-block-three col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <h3><span>03.</span>签订合同</h3>
                <div class="feature-text">签订正式合同，部署程序到服务器，发送教程以及培训使用后台教程.</div>
              </div>
            </div>
            
            <!--Feature Block Three-->
            <div class="feature-block-three col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <h3><span>04.</span>售后服务</h3>
                <div class="feature-text">专业的售后服务，用户在使用过程出现一系列问题及时联系客户处理问题.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Seo Section Two-->

<!--Rank Section-->
<section class="rank-section">
  <div class="auto-container">
    <!--Upper Section-->
    <div class="upper-section">
      <div class="image"><a href="/hone/images/background/3.png" data-fancybox="rank" data-caption=""><img src="/hone/images/background/3.png" alt="" /></a></div>
    </div>
  </div>
  <!--Lower Section-->
  <div class="lower-section">
    <div class="auto-container">
      <div class="row clearfix">
        
        <!--Content Column-->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <!--Sec Title-->
            <div class="sec-title">
              <div class="title-icon"><span class="icon"><img src="/hone/images/icons/separater.png" alt="" /></span></div>
              <div class="title">程序后台数据演示</div>
              <h2>后台数据分析<br>
                大数据平台视察</h2>
            </div>
            <div class="text">
              <p>核心：销量统计 用户访问统计 销量排行 商品销量排名.</p>
              <p>针对系统后台大数据了解整个系统的实时会员用户数据动态信息盘查，有利益营销的数据分析采取营销方案.</p>
            </div>
          </div>
        </div>
        
        <!--Knob Column-->
        <div class="knob-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="row clearfix">
              <!-- Skill block -->
              <div class="skill-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="graph-outer">
                    <input type="text" class="round-dial" data-fgColor="#22c3db" data-bgColor="#f2f2f2" data-width="155" data-height="155" data-linecap="normal"  value="60">
                    <div class="inner-text count-box-two"><span class="count-text" data-stop="60" data-speed="2000"></span>%</div>
                  </div>
                  <h3>用户访问分析</h3>
                </div>
              </div>
              
              <!-- Skill block -->
              <div class="skill-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="graph-outer">
                    <input type="text" class="round-dial" data-fgColor="#22c3db" data-bgColor="#f2f2f2" data-width="155" data-height="155" data-linecap="normal"  value="75">
                    <div class="inner-text count-box-two"><span class="count-text" data-stop="75" data-speed="2000"></span>%</div>
                  </div>
                  <h3>商品销量分析</h3>
                </div>
              </div>
              
              <!-- Skill block -->
              <div class="skill-block col-lg-4 col-md-12 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="graph-outer">
                    <input type="text" class="round-dial" data-fgColor="#22c3db" data-bgColor="#f2f2f2" data-width="155" data-height="155" data-linecap="normal"  value="97">
                    <div class="inner-text count-box-two"><span class="count-text" data-stop="97" data-speed="2000"></span>%</div>
                  </div>
                  <h3>商品订单分析</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Rank Section-->

<!--Team Section-->
<section class="team-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
      <div class="title-icon"><span class="icon"><img src="/hone/images/icons/separater.png" alt="" /></span></div>
      <h2>万能技术合作团队</h2>
      <div class="text">我们是一支专业互联网程序系统开发团队没有我们做不到的只有你想不到的<br>
        集成更多的程序开发技术程序升级</div>
    </div>
    <div class="row clearfix">
      
      <!--Team Block-->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image"><a href="team.html"><img src="/hone/images/resource/team-1.jpg" alt="" title=""></a></div>
          <div class="lower-content">
            <h3><a href="team.html">Peter Thomas</a></h3>
            <div class="designation">CEO Founder</div>
            <ul class="social-box">
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
              <li><a href="#" class="fa fa-envelope"></a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <!--Team Block-->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="image"><a href="team.html"><img src="/hone/images/resource/team-2.jpg" alt="" title=""></a></div>
          <div class="lower-content">
            <h3><a href="team.html">Elizabeth Nelson</a></h3>
            <div class="designation">Senior Marketer</div>
            <ul class="social-box">
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
              <li><a href="#" class="fa fa-envelope"></a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <!--Team Block-->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow slideInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
          <div class="image"><a href="team.html"><img src="/hone/images/resource/team-3.jpg" alt="" title=""></a></div>
          <div class="lower-content">
            <h3><a href="team.html">Richard Smith</a></h3>
            <div class="designation">SEO Expert</div>
            <ul class="social-box">
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
              <li><a href="#" class="fa fa-envelope"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!--End News Section-->

<!--Main Footer-->
<footer class="main-footer">
<!--Widgets Section-->
<div class="auto-container">
  <title>万能官网底部信息</title>
  <div class="cloud-banner">
    <div class="cloud-bubble-one"></div>
    <div class="cloud-bubble-two"></div>
    <div class="cloud-bubble-three"></div>
    <div class="cloud-bubble-text">为您免费提供使用小程序制作系统一年尊贵服务</div>
    <div class="cloud-bubble-link"><a href="tencent://message/?uin=258190749&amp;Site=&amp;Menu=yes">立即制作</a></div>
  </div>
</div>
<div class="cloud-footer">
  <div class="cloud-footer-box">
    <div class="cloud-footer-feature">
      <ul class="clearfix">
        <li class="feature-item002"><a href="#"><span>免费配置服务器</span></a></li>
        <li class="feature-item003"><a href="#"><span>免费修复bug</span></a></li>
        <li class="feature-item004"><a href="#"><span>定制功能</span></a></li>
        <li class="feature-item001"><a href="#"><span>12小时客户服务</span></a></li>
      </ul>
    </div>
    <div class="cloud-footer-nav clearfix">
      <div class="cloud-footer-nav-logo">
        <div class="cloud-comm">
          <div class="cloud-comm-logo"><span></span></div>
          <div class="cloud-info">
            <p>万能科技有限公司</p>
            <li>QQ：{$sbase.qq}</li>
            <li>TEl:{$sbase.hotline}</li>
            <p>QQ群:{$sbase.qq}</p>
          </div>
        </div>
        <div class="cloud-share">
          <p class="wei-xin"><span class="corner wx-corner"></span></p>
          <p class="wei-bo"><span class="corner wx-corner"></span></p>
          <ul class="clearfix">
            <li><a href="#"><span class="icon-blog"></span></a></li>
            <li><a href="#"><span class="icon-wei"></span></a></li>
            <li><a href="#"><span class="icon-qq"></span></a></li>
            <li><a href="#"><span class="icon-mail"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cloud-footer-nav-list clearfix">
        <ul>
          <li class="list-title">核心功能</li>
          <li><a href="/comhome/functionshow/show.html?id=8">可拖拽DIY</a></li>
          <li><a href="/comhome/functionshow/show.html?id=32">分销模块</a></li>
          <li><a href="/comhome/functionshow/show.html?id=28">文章管理系统</a></li>
          <li><a href="/comhome/functionshow/show.html?id=5">多规格商城</a></li>
          <li><a href="/comhome/functionshow/show.html?id=6">付费视频系统</a></li>
          <li><a href="/comhome/functionshow/show.html?id=30">万能表单</a></li>
          <li><a href="/comhome/functionshow/show.html?id=27">预约报名</a></li>
          <li><a href="/comhome/functionshow/show.html?id=7">多门店系统</a></li>
          <li><a href="/comhome/functionshow/show.html?id=34">付费预约</a></li>
          <li><a href="/comhome/functionshow/show.html?id=35">优惠券系统</a></li>
        </ul>
        <ul>
          <li class="list-title">营销系统</li>
          <li><a href="/comhome/functionshow/show.html?id=37">店内点餐小程序</a></li>
          <li><a href="/comhome/functionshow/show.html?id=36">拼团商城小程序</a></li>
          <li><a href="/comhome/functionshow/show.html?id=33">秒杀商城小程序</a></li>
          <li><a href="/comhome/functionshow/show.html?id=39">积分签到小程序</a></li>
          <li><a href="/comhome/functionshow/show.html?id=41">积分兑换商城</a></li>
          <li><a href="/comhome/functionshow/show.html?id=14">手机客服小程序</a></li>
          <li><a href="#">同城小程序</a></li>
          <li><a href="#">视频小程序</a></li>
          <li><a href="#">企业名片小程序</a></li>
        </ul>
        <ul>
          <li class="list-title">解决方案</li>
          <li><a href="/comhome/functionshow/show.html?id=3">智慧商城</a></li>
          <li><a href="/comhome/functionshow/show.html?id=2">智慧餐饮</a></li>
          <li><a href="/comhome/functionshow/show.html?id=4">智慧美业</a></li>
          <li><a href="/comhome/functionshow/show.html?id=10">同城服务</a></li>
          <li><a href="/comhome/functionshow/show.html?id=7">智慧家装</a></li>
          <li><a href="/comhome/functionshow/show.html?id=5">智慧旅游</a></li>
          <li><a href="/comhome/functionshow/show.html?id=8">智慧教育</a></li>
          <li><a href="/comhome/functionshow/show.html?id=9">婚纱摄影</a></li>
          <li><a href="/comhome/functionshow/show.html?id=6">智慧休娱</a></li>
        </ul>
        <ul>
          <li class="list-title">万能资讯</li>
          <li><a href="https://xiaoyuan.xjjxzl.cn/weixin/servicemarket/weixin/">开发交流</a></li>
          <li><a href="https://xiaoyuan.xjjxzl.cn/weixin/developers/">学习教程</a></li>
          <li><a href="https://xiaoyuan.xjjxzl.cn/portal.php?mod=list&catid=21">新闻动态</a></li>
          <li><a href="https://xiaoyuan.xjjxzl.cn/weixin/weixin/">行业文章</a></li>
          <li><a href="https://xiaoyuan.xjjxzl.cn/weixinnews/">更多案例</a></li>
          <li><a href="https://xiaoyuan.xjjxzl.cn/news/">升级动态</a></li>
          <li><a href="/comhome/about/index.html">关于我们</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="bottom2_ul1">
    <li><a href="https://xiaoyuan.xjjxzl.cn/">万能论坛</a></li>
    <li>·</li>
    <li><a href="https://mi.baidu.com/">万能系统</a></li>
    <li>·</li>
    <li><a href="https://xiaoyuan.xjjxzl.cn/">万能模板</a></li>
    <li>·</li>
    <li><a href="https://baidu.com/">万能科技</a></li>
    <li>·</li>
    <li><a href="https://mp.weixin.qq.com/cgi-bin/wx">微信小程序</a></li>
  </ul>
  <div class="cloud-copyright cloud-copyright-about">
    <p class="bottom2_p">{$sbase.name}&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$sbase.copyright}</p>
    <p>《增值电信业务经营许可证》京ICP备906178号-3 &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">万能科技有限公司</a>地址：北京市海淀区</p>
  </div>
</div>
<script type="text/javascript">
            
            $(".icon-blog").mouseenter(function() {
                $(".wei-bo").show()
            }).mouseleave(function() {
                $(".wei-bo").hide()
            });
            $(".icon-wei").mouseenter(function() {
                $(".wei-xin").show()
            }).mouseleave(function() {
                $(".wei-xin").hide()
            });
        
        </script>
<body>
<script src="/hone/js/jquery.js"></script> 
<script src="/hone/js/popper.min.js"></script> 
<script src="/hone/js/bootstrap.min.js"></script> 
<script src="/hone/js/jquery.fancybox.js"></script> 
<script src="/hone/js/appear.js"></script> 
<script src="/hone/js/owl.js"></script> 
<script src="/hone/js/wow.js"></script> 
<script src="/hone/js/jquery-ui.js"></script> 
<script src="/hone/js/script.js"></script>
</body>
</html>

