{include file="public/head" /}
{include file="public/top" /}

<style>
.navModel8{
	display: block !important;
}
.form_nobg{
	background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 216px;
  right: 0;
  height: 52px;
  line-height: 52px;
  box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.08);
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
	z-index: 1000;
}
.content_head_title{display:none}
.page_content{top:0;padding: 0;}
.back_go{
	border-bottom: 1px solid #eee;
  padding: 15px 15px 10px;
}
</style>

<input type="hidden" id="nowhtml" value="navModel" class="navModel8-2">
	<div class="row-fluid">
		<div class="back_go">
			<a href="#" onClick="javascript:history.go(-1);"><span><img src="__STATIC_ROOT__/image/static/zuo.png" alt="" style="width:28px;margin-left:-6px;margin-right:4px;"></span><span style="font-size:18px;">添加积分规则</span></a>
		</div>
		<div class="portlet box">
			<div class="portlet-body form">
				<form action="{:Url('shake/saverule')}?appletid=<?php echo $_GET['appletid']?>" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
					<div class="control-group">
						<label class="control-label"><span>*</span> 标题</label>
						<div class="controls">
							<input name="title" type="text" class="span5 m-wrap" id="title" value="" />
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请填写积分规则标题</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label"><span>*</span> 简介</label>
						<div class="controls">
							<input name="descp" type="text" class="span5 m-wrap" id="descp" value=""/>
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请填写积分规则简介</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label"><span>*</span> 积分数</label>
						<div class="controls">
							<input name="score" type="number" class="span5 m-wrap" id="score" value=""/>
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请填写积分规则积分数</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label"><span>*</span> 链接</label>
						<div class="controls">
							<input name="link" type="text" class="span5 m-wrap" id="link" value=""/>
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请填写积分规则链接</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">是否开启</label>
						<div class="controls">
							<label class="radio">
							<input type="radio" name="flag" value="0" />
							关闭
							</label>
							<label class="radio">
							<input type="radio" name="flag" value="1" checked />
							开启
							</label> 
						</div>
					</div>

					<div class="form-actions form_nobg">
						<button type="submit" class="btn" style="color: #fff;background-color: #4385ff;">确定</button>
					</div>

				</form>
			</div>
		</div>
	</div>



{include file="public/foot_more" /}


<script type="text/javascript">

   	function checkinfo(){
   		var title = $("#title").val();
   		var descp = $("#descp").val();
   		var score = $("#score").val();
   		var link = $("#link").val();

   		if(!title){
   			alert("标题不能为空！");
   			return false;
   		}
   		if(!descp){
   			alert("规则简介不能为空！");
   			return false;
   		}
   		if(!score){
   			alert("规则积分数不能为空！");
   			return false;
   		}
   		if(!link){
   			alert("规则链接不能为空！");
   			return false;
   		}
   	}

</script>