{include file="public/head" /}
{include file="public/top" /}
<input type="hidden" id="nowhtml" value="navGoods" class="navGoods4">
	<style type="text/css">
		.chongdingy{
			background-color: #f9f9f9;
			padding: 10px 0;
			border-radius: 5px;
		}
		.chongdingywz{
			text-align: left !important;
			font-size: 16px;
			padding-left: 20px;
		}
		.controls_style{
			text-align: center;
			margin-right: 20px;
			box-sizing: border-box;
			display: inline-block;
			margin-bottom: 40px;
		}
		.img_phone{
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 250px;
			height: 485px;
			position: relative;
		}
		.img_phone img{
			position: absolute;
			top: 41px;
			left: 19px;
			width: 213px;
		}
		.form_nobg{
			background-color: #fff;
			position: fixed;
			bottom: 0;
			left: 216px;
			right: 0;
			height: 52px;
			line-height: 52px;
			box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.08);
			text-align: center;
			padding: 0 !important;
			margin: 0 !important;
			z-index: 1000;
		}
	</style>
	<div class="row-fluid">
		<div class="portlet box">
			<div class="portlet-body form">
				<form action="{:Url('Duoproducts/catesetsave')}?appletid=<?php echo $_GET['appletid']?>" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
					<div class="control-group chongdingy">
						<label class="control-label chongdingywz">栏目设置</label>
					</div>
					<div class="control-group">
						<label class="control-label">栏目风格</label>
						<div class="controls">
							<div class="controls_style">
								<label class="radio">
									<div class="img_phone" style="background-image: url(__STATIC_ROOT__/image/bg_style.png);">
										<img src="__STATIC_ROOT__/image/style1.jpg" alt="">
									</div>
									<input type="radio" name="catestyle" value="1" {if $catestyle==1}checked=checked{/if} />风格1
								</label>
							</div>
							<div class="controls_style">
								<label class="radio">
									<div class="img_phone" style="background-image: url(__STATIC_ROOT__/image/bg_style.png);">
										<img src="__STATIC_ROOT__/image/style2.jpg" alt="">
									</div>
									<input  type="radio" name="catestyle" value="2" {if $catestyle==2}checked=checked{/if}/>风格2
								</label>
							</div>
								<label class="radio">
								<div class="controls_style">
									<div class="img_phone" style="background-image: url(__STATIC_ROOT__/image/bg_style.png);">
										<img src="__STATIC_ROOT__/image/style3.jpg" alt="">
									</div>
									<input  type="radio" name="catestyle" value="3" {if $catestyle==3}checked=checked{/if}/>风格3
								</label>
							</div>
							<div class="controls_style">
								<label class="radio">
									<div class="img_phone" style="background-image: url(__STATIC_ROOT__/image/bg_style.png);">
										<img src="__STATIC_ROOT__/image/style4.jpg" alt="">
									</div>
									<input  type="radio" name="catestyle" value="4" {if $catestyle==4}checked=checked{/if}/>风格4
								</label>
							</div>
						</div>
					</div>

					<div class="form_nobg">
						<button type="submit" class="btn" style="position: absolute;top:12px;left:50%;transform:translateX(-50%);background-color: #4385ff;color: #fff">确定</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{include file="public/foot_more" /}