<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$baseinfo['site_title'] ? $baseinfo['site_title'] : $baseinfo['name']}</title>
  <meta name="keywords" content="{$baseinfo['site_keywords']}">
  <meta name="description" content="{$baseinfo['site_description']}">
  <link rel="stylesheet" href="/front/css/base1.css">
  <link rel="stylesheet" href="/front/css/index1.css">
  <link rel="stylesheet" href="/front/css/iconfont.css">
  <link rel="stylesheet" href="/front/css/pcdetails1.css">
  <script src="/front/js/jquery-3.2.1.js"></script>
</head>
<body>
  <div id="web">
    <div class="header">
      <div class="title_list">
        <div class="header_title">
          <div class="header_name">
            <a href="{:Url('Index/index')}?uniacid={$uniacid}">
              <img src="{$baseinfo['pc_logo']}">
            </a>
          </div>
          <div class="header_search">
            <input class="search_input" type="text" placeholder="请输入搜索内容">
            <a href="javascript:;" onclick="searchs()" class="search_a iconfont icon-x-sousuo1"></a>
          </div>
          <div class="erweima_img">
            <div class="er_img1">
              <div class="er_img2">
                <div class="er_text">
                  <p>扫码进入</p>
                  <p>小程序或APP</p>
                  <p>查看更多</p>
                </div>
                {foreach $baseinfo['pc_show_qrcode'] as $item}
                {if $item}
                <img src="{$item}">
                {/if}
                {/foreach}
              </div>
            </div>
          </div>
        </div>
        <div class="header_list">
          <ul class="li_list clearfix">
            <li><a href="{:Url('Index/index')}?uniacid={$uniacid}" class="{if $now_cid == 0}active{/if}">首页</a></li>
            {foreach $cates as $item}
            <li>
              {if $item['type'] == 'showArt'}
                <a href="{:Url('Pclist/index')}?uniacid={$uniacid}&cid={$item['id']}&type={$item['type']}" class="{if $now_cid == $item['id']}active{/if}">{$item['name']}</a>
                <ul>    
                  {foreach $item['subcates'] as $subitem}
                  <li><a href="{:Url('Pclist/index')}?uniacid={$uniacid}&cid={$subitem['id']}&type={$item['type']}">{$subitem['name']}</a></li>    
                  {/foreach}
                </ul>
              {else}
                <a href="{:Url('Piclist/index')}?uniacid={$uniacid}&cid={$item['id']}&type={$item['type']}" class="{if $now_cid == $item['id']}active{/if}">{$item['name']}</a>
                <ul>    
                  {foreach $item['subcates'] as $subitem}
                  <li><a href="{:Url('Piclist/index')}?uniacid={$uniacid}&cid={$subitem['id']}&type={$item['type']}">{$subitem['name']}</a></li>    
                  {/foreach}
                </ul>
              {/if} 
            </li>
            {/foreach}

          </ul>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="wrapper">
        <div id="sliderBox">
            {foreach $baseinfo['banner'] as $item}
            {if $item}
            <img src="{$item}">
            {/if}
            {/foreach}
        </div>
        <div class="btn01 btn" onclick="leftArrow()"><img src="/front/img/left.png"/></div>
        <div class="btn02 btn" onclick="rightArrow()"><img src="/front/img/right.png"/></div>
      </div>
      
    </div>

  <script>
    function searchs(){
      var search_key = $(".search_input").val();
      if(!search_key){
        alert("请先输入搜索关键字！");
        return false;
      }
      location.href = "{:Url('Searchs/index')}?uniacid={$uniacid}&title=" + search_key;
    }

    // 轮播
    var parent = document.getElementById("sliderBox");
    var children = parent.getElementsByTagName("img");    
    function leftArrow() {
      var firstChild = children[0];
      var tmp = firstChild;
      parent.removeChild(firstChild);
      parent.appendChild(tmp);
    }
    
    function rightArrow() {
      var lastChild = children[children.length-1];
      var tmp = lastChild;
      parent.removeChild(lastChild);
      parent.insertBefore(tmp,children[0]);
    }
    var timer = null;
    function autoPlay () {
        timer = setInterval(function () {
            rightArrow();
        },2000);
    }
    autoPlay();
    
    var wrapper = document.querySelector(".wrapper");
    wrapper.onmouseenter = function () {
        clearInterval(timer);
    }
    wrapper.onmouseleave = function () {
        autoPlay();    
    }
  </script>
    <div class="body">
      <div class="body_box clearfix">
        
        <!-- 新闻详情start -->
        <div class="news_content" style="padding:30px 0 20px">
          <div class="content clearfix">
            <div class="content_left">
              <div class="fhsj">
                <img src="/front/img/news_pageimg.png"><a href="javascript:history.back(-1)">返回上一级</a>
              </div>
              <div style="width:447px;margin:30px auto 0;text-align:center;font-size:24px;line-height:40px;color: #434343;">{$info['title']}</div>
              <div style="margin-top:15px;color: #838383;font-size:20px;text-align:center;">{$info['ctime']}</div>
              <div class="content_left_text">{$info['text']}</div>
              <div class="content_left_select">
                <div class="select">上一篇：{if $info_prev}<a href="{:Url('Pcdetail/index')}?uniacid={$uniacid}&type={$info_prev['type']}&id={$info_prev['id']}">{$info_prev['title']}</a>{else}暂无上一篇新闻{/if}</div>
                <div class="select">下一篇：{if $info_next}<a href="{:Url('Pcdetail/index')}?uniacid={$uniacid}&type={$info_next['type']}&id={$info_next['id']}">{$info_next['title']}</a>{else}暂无下一篇新闻{/if}</div>
              </div>
            </div>
            <div class="content_right">
              <div style="font-size:24px;color: #434343;margin-bottom: 32px;">其他新闻</div>
              {foreach $info_new as $item}
              <div style="padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #eee;">
                <a href="{:Url('Pcdetail/index')}?uniacid={$uniacid}&type={$item['type']}&id={$item['id']}">{$item['title']}</a>
                <div style="color: #838383;font-size: 14px;margin-top: 5px;">{$item['ctime']}</div>
              </div>
              {/foreach}

            </div>
          </div>
        </div>
        <!-- 新闻详情end -->
      </div>
    </div>

    {include file="common/foot1" /}
  </div> 

  <script>
  </script>
</body>
</html>