{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	.navSale8{
		display: block !important;
	}
	form {
		margin: 0 !important;
		display: inline-block !important;
	}
	thead{
		background: #fafafa;
	}
	table{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		border: 1px solid #f0f0f0;
	}
	th,td{
		border: 1px dashed #f0f0f0;
		text-align: center;
	}
	th{
		height: 45px;
	}
	td{
		height: 62px;
	}
</style>
<input type="hidden" id="nowhtml" value="navModel" class="navSale8-1"/>
	
	<div class="row-fluid">
		<div class="span12">
		<div class="portlet box">
			<div class="portlet-body">
				
				<table id="sample_editable_1">
					<thead>
						<tr>
							<th style="width:80px">ID</th>
							<th style="width: 400px">标题</th>
							<th style="width:220px">提交时间</th>
							<th style="width:110px">状态</th>
							<th style="width:250px">操作</th>
						</tr>
					</thead>
					<tbody>
					{if $formset}
						{foreach $newformset['data'] as $item}
							<tr>
								<td>
									{$item.id}
								</td>
								<td>
									{$item.title}
								</td>
								<td>
									{$item.creattime}
								</td>
								<td>
									{if $item.flag == "0"}
									<span class="btn red dx" style="padding: 5px !important;">未查看/审核</span>
									{else}
									<span class="btn green dx" style="padding: 5px !important;">已查看/审核</span>
									{/if}
								</td>
								<td width="200px;">
									<a href="{:Url('Order/bxiang')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}"><button style="color: #35aa47;border:1px solid #35aa47;background:#fff;border-radius: 4px;padding: 1px 6px;">查看</button></a>
									<form action="{:Url('Order/xinxdel')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}"  method="post" enctype="multipart/form-data" onsubmit = "return del()">
										<button style="color: #d9534f;border:1px solid #d9534f;background:#fff;border-radius: 4px;padding: 1px 6px;" type="submit">删除</button>
									</form>
								</td>
							</tr>

						{/foreach}
					 {/if}
					</tbody>
				</table>



				<!-- 分页 -->
				<div>
					<div class="fenye_left">
						<!-- 一共查询到<font color="red" style="padding:0 10px;">{$counts}</font>条数据 -->
					</div>
					<div class="fenye_right">
						{$formset->render()}
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

	<script type="text/javascript">
		function del(){
			if(confirm('该删除操作不可逆，请谨慎操作?')){
				return true;
			}else{
				return false;
			}
		}
	</script>
	
	
{include file="public/foot_more" /}