<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$baseinfo['site_title'] ? $baseinfo['site_title'] : $baseinfo['name']}</title>
  <meta name="keywords" content="{$baseinfo['site_keywords']}">
  <meta name="description" content="{$baseinfo['site_description']}">
  <link rel="stylesheet" href="/front/css/iconfont.css">
  <link rel="stylesheet" href="/front/css/base.css">
  <link rel="stylesheet" href="/front/css/pc_list.css">
  <script src="/front/js/jquery-3.2.1.js"></script>
</head>
<body>
  <div class="base">
    <div class="top_wrapper">
      <div class="top_main">
        <div class="hello_top">
          <span>您好，欢迎来到 </span>
          <span>{$baseinfo['name']}</span>
          <span class="back_index"><a href="{:Url('Index/index')}?uniacid={$uniacid}" class="iconfont icon-x-shouye2">返回首页</a></span>
        </div>
      </div>
    </div>

    <div class="top_header">
      <div class="header_main">
        <div class="logo_img">
          <a href="{:Url('Index/index')}?uniacid={$uniacid}">
            <img src="{$baseinfo['pc_logo']}">
          </a>
        </div>
        <div class="header_search_box">
          <div class="header_search">
            <input class="search_input" type="text" placeholder="请输入搜索内容">
            <a href="javascript:;" onclick="searchs()" class="search_a iconfont icon-x-sousuo1"></a>
          </div>
        </div>
        <div class="erweima_img">
          <div class="er_img1">
            <div class="er_img2">
              <div class="er_text">
                <p>扫码进入</p>
                <p>小程序或APP</p>
                <p>选购商品</p>
              </div>
              {foreach $baseinfo['pc_show_qrcode'] as $item}
              {if $item}
              <img src="{$item}">
              {/if}
              {/foreach}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="body_main">
      <div class="body_banner">
        <div class="wrapper">
            <div id="sliderBox">
              {foreach $baseinfo['banner'] as $item}
                {if $item}
                <img src="{$item}">
                {/if}
              {/foreach}
            </div>
            <div class="btn01 btn" onclick="leftArrow()"><img src="/front/img/left.png"/></div>
            <div class="btn02 btn" onclick="rightArrow()"><img src="/front/img/right.png"/></div>
          </div>
      </div>
    </div>

    <script>
    function searchs(){
      var search_key = $(".search_input").val();
      if(!search_key){
        alert("请先输入搜索关键字！");
        return false;
      }
      location.href = "{:Url('Searchs/index')}?uniacid={$uniacid}&title=" + search_key;
    }

    // 轮播
    var parent = document.getElementById("sliderBox");
    var children = parent.getElementsByTagName("img");		
    // function leftArrow() {
    //   var firstChild = children[0];
    //   var tmp = firstChild;
    //   parent.removeChild(firstChild);
    //   parent.appendChild(tmp);
    // }
    
    // function rightArrow() {
    //   var lastChild = children[children.length-1];
    //   var tmp = lastChild;
    //   parent.removeChild(lastChild);
    //   parent.insertBefore(tmp,children[0]);
    // }
    var index = 0;
    function leftArrow() {
      index++;
      if(index == children.length){
        index = 0;
      }
      for(var i=0;i<children.length;i++){
        children[i].style.opacity = "0";
      }
      children[index].style.opacity = "1";
    }

    function rightArrow() {
      index--;
      if(index == -1){
        index = children.length-1;
      }
      for(var i=0;i<children.length;i++){
        children[i].style.opacity = "0";
      }
      children[index].style.opacity = "1";
    }
    
    var timer = null;
    function autoPlay () {
        timer = setInterval(function () {
            rightArrow();
        },2000);
    }
    autoPlay();
    
    var wrapper = document.querySelector(".wrapper");
    wrapper.onmouseenter = function () {
        clearInterval(timer);
    }
    wrapper.onmouseleave = function () {
        autoPlay();    
    }
    </script>
