{include file="public/head" /}
<body class="page-header-fixed">
<div class="page-container">
{include file="public/left_setting" /}
<div class="page_main">
	<div class="content_head clearfix navbar" style="margin-bottom: 0">
        <div class="content_head_left"></div>
    </div>
	<div class="page_content" id="container">
		<style type="text/css">
			form {
			  margin: 0 !important; 
			  display: inline-block !important;
			}
			a{color:inherit;}
			.yyzx_list a{height:auto;}	
			a img{width: 60px;height: 60px;}


			.yyzx_list{
				margin-bottom: 30px;
			}
			.center_title{
				color: #343841;
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 20px;
			}
			.center_content{
				background: #F4F7F9;
				display: flex;
		    height: 90px;
		    width: 320px;
			}
			.content_left{
				background: #4385FF;
				width: 90px;
				height: 90px;
				line-height: 90px;
				border-radius: 5px 0 0 5px;
			}
			.yyzx_list a div.content_right{
				width: 230px;
				border: 1px solid #DFE4E7;
				border-left: 0;
		    height: 90px;
				box-sizing: border-box;
				border-radius: 0 5px 5px 0;
				position: relative;
				overflow: hidden;
			}
			.yyzx_list a div.right_title{
				font-size: 16px;
				color: #343841;
				margin: 22px 20px 6px;
				text-align: left;
			}
			.yyzx_list a div.right_tips{
				font-size: 14px;
				color: #5C6270;
				text-align: left;
				margin-left: 20px;
			}
			.icons{
				color: #fff !important;
				font-size: 34px !important;
			}
			.label_top{
				color: #fff !important;
				font-size:12px !important;
				line-height:24px;
				background:#cfcfcf;
				position:absolute;
				right:0;
				top:0;
				z-Index:2;
				padding:0 2em;
				-webkit-transform-origin:left bottom;
				-moz-transform-origin:left bottom;
				transform-origin:left bottom;
				-webkit-transform:translate(29.29%,-100%) rotate(45deg);
				-moz-transform:translate(29.29%,-100%) rotate(45deg);
				transform:translate(29.29%,-100%) rotate(45deg);
				text-indent:0;
			}
		</style>

		<input type="hidden" id="nowhtml" value="navFuncrules" class="navFuncrules1">

		<div class="row-fluid">
			<div class="span12">
				<div class="portlet box ">
					<div class="portlet-body">
						<div class="yyzx_list clearfix">
							<div class="center_title">平台</div>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconweixin-copy icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">微信</div>
										<div class="right_tips">微信小程序端</div>
										<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#87D236;">
										<div class="iconfont iconbaiduxiaochengxu icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">百度</div>
										<div class="right_tips">百度小程序端</div>
										<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconzhifubaoxiaochengxu icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">支付宝</div>
										<div class="right_tips">支付宝小程序端</div>
									<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#FE7B4C;">
										<div class="iconfont iconQQxiaochengxu icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">QQ</div>
										<div class="right_tips">QQ小程序端</div>
										<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#A37DE1">
										<div class="iconfont icontoutiao icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">字节跳动</div>
										<div class="right_tips">字节跳动小程序端</div>
										<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconh5 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">H5</div>
										<div class="right_tips">H5小程序端</div>
										<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#FFBA43;">
										<div class="iconfont iconpc icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">PC</div>
										<div class="right_tips">PC端</div>
										<div class="label_top" style="background:#fd5d4b">免费应用</div>
									</div>
								</div>
							</a>
						</div>
						<div class="yyzx_list clearfix">
							<div class="center_title">付费应用</div>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconmiaosha icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">限时秒杀</div>
										<div class="right_tips">快速抢购引导客户更多消费</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#87D236;">
										<div class="iconfont iconpintuan2 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">多人拼团</div>
										<div class="right_tips">引导客户邀请他人一起购买</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconyuyue1 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">预约预定</div>
										<div class="right_tips">预约多规格商品，预约选座</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#FE7B4C;">
										<div class="iconfont iconkanjia1 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">砍价</div>
										<div class="right_tips">邀请好友帮忙砍价，带动新客</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#A37DE1">
										<div class="iconfont iconluck icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">摇一摇抽奖</div>
										<div class="right_tips">九宫格式抽奖玩法</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#FE7B4C;">
										<div class="iconfont iconqiandao1 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">积分签到</div>
										<div class="right_tips">每日签到领取积分</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconjifen icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">积分兑换</div>
										<div class="right_tips">积分兑换商品</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconshanghuliebiao icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">多商户</div>
										<div class="right_tips">商家入驻平台</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#A37DE1">
										<div class="iconfont iconcanyin1 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">餐饮</div>
										<div class="right_tips">店内扫码点餐</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#48A4F3;">
										<div class="iconfont icontongcheng_chengshi icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">微同城</div>
										<div class="right_tips">同城论坛，水友交流</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont icongq icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">供求关系</div>
										<div class="right_tips">供求发布，需求匹配</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
							<a href="javascript:;">
								<div class="center_content">
									<div class="content_left" style="background:#FFA043;">
										<div class="iconfont iconbaoming1 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">活动报名</div>
										<div class="right_tips">活动报名审核</div>
										<div class="label_top" style="background:#fd5d4b">已激活</div>
									</div>
								</div>
							</a>
						</div>

						<div class="yyzx_list clearfix">
							<div class="center_title">应用工具</div>
							<a href="">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconicon-test1 icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">核销</div>
										<div class="right_tips">密码、二维码核销自提订单</div>
									</div>
								</div>
							</a>
							<a href="">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconmendian icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">多门店</div>
										<div class="right_tips">到店自提附近门店选择</div>
									</div>
								</div>
							</a>
							<a href="">
								<div class="center_content">
									<div class="content_left" style="background:#FFBA43;">
										<div class="iconfont iconbiaodan icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">万能表单</div>
										<div class="right_tips">自定义表单获取用户信息</div>
									</div>
								</div>
							</a>
							<a href="">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconchakan icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">优惠券</div>
										<div class="right_tips">向用户发放商品优惠券</div>
									</div>
								</div>
							</a>
							<a href="">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconmingpian icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">名片</div>
										<div class="right_tips">员工名片，分享交流</div>
									</div>
								</div>
							</a>
							<a href="">
								<div class="center_content">
									<div class="content_left" style="background:#87D236;">
										<div class="iconfont iconchuzhika icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">会员储值</div>
										<div class="right_tips">开通会员储值，可余额支付</div>
									</div>
								</div>
							</a>
							<a href="">
								<div class="center_content">
									<div class="content_left">
										<div class="iconfont iconguize icons"></div>
									</div>
									<div class="content_right">
										<div class="right_title">积分规则</div>
										<div class="right_tips">积分使用限制</div>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>

{include file="public/foot_more" /}