{include file="public/head" /}

{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navModel" class="navModel16-1">
<style type="text/css">
	.navModel16{
		display: block !important;
	}
	.chongdingy{
		background-color: #f9f9f9;
		padding: 10px 0;
		border-radius: 5px;
	} 
	.chongdingywz{
		text-align: left !important;
		font-size: 16px;
		padding-left: 20px;
	}
	.content_head_title{display:none}
	.page_content{top:0;padding: 0;}
	.back_go{
		border-bottom: 1px solid #eee;
		padding: 15px 15px 10px;
	}
	.form_nobg{
		background-color: #fff;
		position: fixed;
		bottom: 0;
		left: 216px;
		right: 0;
		height: 52px;
		line-height: 52px;
		box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.08);
		text-align: center;
		padding: 0 !important;
		margin: 0 !important;
		z-index: 1000;
	}
	.add_imgs{
		display: inline-block;
		width: 67px;
		height: 67px;
		box-sizing: border-box;
		border: 1px dashed #dfe4e7;
		background: #f9f9f9;
		border-radius: 3px;
		text-align: center;
		color: #DFE4E7;
		font-size: 12px;
	}
	.commonchangepic{
		cursor: pointer;
	}
</style>


	<div class="row-fluid">
		<div class="back_go">
			<a href="#" onClick="javascript:history.go(-1);"><span><img src="__STATIC_ROOT__/image/static/zuo.png" alt="" style="width:28px;margin-left:-6px;margin-right:4px;"></span><span style="font-size:18px;">添加分类</span></a>
		</div>
		<div class="portlet box">

			<div class="portlet-body form">

				<form action="{:Url('Active/catesave')}?appletid=<?php echo $_GET['appletid']?>" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">

					<input type="hidden" name="cateid" value="{$cateid}">

					<div class="control-group chongdingy">

						<label class="control-label chongdingywz">分类基础内容</label>

					</div>

					<div class="control-group">

						<label class="control-label">排序</label>

						<div class="controls">

							<input name="num" type="text" class="span1 m-wrap" value="{if $cateinfo}{$cateinfo.num}{/if}"/>

							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">序号越大越靠前</span>

						</div>

					</div>
					<div class="control-group">
	                    <label class="control-label">启用</label>
	                    <div class="controls">
	                        <label class="radio">
	                            <input type="radio" name="flag" value="1" {if $cateinfo}{if $cateinfo.flag==1}checked=checked{/if}{else}checked=checked{/if}/>
	                           	启用
	                        </label>
	                        <label class="radio">
	                            <input type="radio" name="flag" value="2" {if $cateinfo}{if $cateinfo.flag==2}checked=checked{/if}{/if}/>
	                            不启用
	                        </label>
	                        <span style="color:#c7cddb; line-height:40px; margin-left:20px;">启用后，分类方可在小程序端显示，不选默认启用</span>
	                    </div>
	                </div>

					<div class="control-group">
						<label class="control-label"><span>*</span> 分类名称</label>
						<div class="controls">
							<input name="name" id="name" type="text" class="span3 m-wrap" value="{if $cateinfo}{$cateinfo.name}{/if}">
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请填写分类名称</span>
						</div>
					</div>
					<div class="control-group">
	                    <label class="control-label">分类缩略图</label>
	                    <div class="controls">
	                        <div class="fileupload fileupload-new " data-provides="fileupload">
	                            <div class="fileupload-new thumbnail commonuploadpic1" style="width:67px;height:67px;">
	                                {if $cateinfo && $cateinfo.thumb}
	                                <img src="{$cateinfo.thumb}"/>
	                                {else}
	                                <img src="__STATIC_ROOT__/image/noimage_1.png" alt="" />
	                                {/if}
	                            </div>
	                            <div class="add_imgs">
	                              <span class="fileupload-new commonchangepic" data-type="1"><div style="font-size: 26px;line-height: 36px;">+</div>选择图片<input type="hidden" name="commonuploadpic1" ></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>


					<div class="form_nobg">
						<button type="submit" class="btn" style="background-color: #4385ff;color: #fff">确定</button>
					</div>
				</form>
			</div>
		</div>
	</div>

    <script type="text/javascript">
    	function checkinfo(){
    		var name = $.trim($("#name").val());
	    	if(name==""){
	    		alert("名称不能为空");
	    		return false;
	    	}
	    }

     </script>







{include file="public/foot_more" /}