{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	.navModel16{
		display: block !important;
	}
	form {
		margin: 0 !important; 
		display: inline-block !important;
	}	
	thead{
		background: #fafafa;
	}
	table{
		width: 100%;
		text-align: center;
		border: 1px solid #f0f0f0;
	}
	th,td{
		border: 1px dashed #f0f0f0;
		text-align: center;
	}
	th{
		height: 45px;
	}
	td{
		height: 62px;
	}
</style>

<input type="hidden" id="nowhtml" value="navModel" class="navModel16-1">

	<div class="row-fluid">

	<div class="span12">


		<div class="portlet box ">


			<div class="portlet-body">


				<div class="input-box" style="margin-bottom: 10px; position: relative;">

					<div class="btn-group">

						<a href="{:Url('active/cateadd')}?appletid=<?php echo $_GET['appletid']?>" >
						<button id="sample_editable_1_new" class="btn" style="float:left;background: #4385ff;color: #fff;margin-right: 10px;text-align: center">
						新增分类
						</button>
						</a>
					</div>
					<div class="btn-group">					
						<button class="btn"  onclick="delall()" style="float:left;background-color:rgba(67, 133, 255, 0.102);color: #4385ff;border:1px solid #4385ff;margin-right: 10px;text-align: center"  onclick="delall()">批量删除</button>			
					</div>
				</div>




				<table id="sample_editable_1">

					<thead>

						<tr>

							<th style="width: 100px">

								<input type="checkbox" id="all" />
								
							</th>

							<th style="width: 100px;">排序</th>

							<th style="width: 100px;">ID</th>

							<th style="width: 200px;">分类图片</th>

							<th style="width: 300px;">分类名称</th>

							<th>状态/参数</th>
							
							<th width="400px;">操作</th>
							
						</tr>

					</thead>

					<tbody>
						
						{if $list}
							{foreach $list as $item}
									<td>
										<input type="checkbox" name="csb"  value="{$item.id}"/>
									</td>
									<td>{$item.num}</td>
									<td><a href="javascript:;" href="javascript:;" data-clipboard-text="{$item.id}" onclick="copyid({$item.id})" class="label label-success ng-scope js-clip{$item.id}" style="background: #a9a9a9;min-width:30px;text-align: center;">{$item.id}</a></td>
									<td><img src="{$item.thumb}" style="width:30px; height:30px;"></td>
									<td style="font-weight:bold">   {$item.name}</td>
									<td>
										<!-- 启用状态 -->
										{if $item.flag == 1}
											<span class="btn green dx" title="是否启用">启</span>
										{else}
											<span class="btn red dx" title="是否启用">关</span>
										{/if}
									</td>
									<td>
										<a href="{:Url('Active/cateadd')}?appletid=<?php echo $_GET['appletid']?>&cateid={$item.id}"><button style="color: #438cdd;border:1px solid #438cdd;background:#fff;border-radius: 4px">编辑</button></a>
										<form action="{:Url('Active/catedel')}?appletid=<?php echo $_GET['appletid']?>&cateid={$item.id}"  method="post" enctype="multipart/form-data" onsubmit = "return del({$item.id})">
											<button style="color: #d9534f;border:1px solid #d9534f;background:#fff;border-radius: 4px" type="submit">删除</button>
										</form>
									</td>
									
								</tr>
							{/foreach}
						{/if}
						
					</tbody>

				</table>
				<div>
					<div class="fenye_right">
						{$catelist->render()}
					</div>
				</div>
			</div>


		</div>
		

	</div>

</div>


<script type="text/javascript">

	function del(id){
		if(confirm('该删除操作不可逆，请谨慎操作?')){
			return true;
		}else{
			return false;
		}
	}

    $('#all').on('click',function(){

        if(this.checked) {
            $.uniform.update($("input[name='csb']").attr("checked", true));
        }else {
            $.uniform.update($("input[name='csb']").attr("checked", false));
        }
    });
	function delall(){
	    var array1=new Array();
		$.each($("input[name='csb']"),function(){
			if(this.checked){
				array1.push($(this).val());
			}
		});
         if(array1.length>0){
             if(window.confirm('确定删除这些栏目？')){
                 location.href = "{:Url('Active/delall')}?appletid=<?php echo $_GET['appletid']?>&cateids="+array1;
             }else{
                 return false;
             }
		 }else{
             alert("您未选择删除对象");
             return false;
		 }


	}


</script>



{include file="public/foot_more" /}