{include file="public/head" /}
{include file="public/top" /}
<input type="hidden" id="nowhtml" value="navCon" class="navCon8">

<style type="text/css">
	.shuk{
		outline: none;
		border: 1px solid #dedede;
		width: 300px;
	}
	.cesd{
		height: 30px;
		line-height: 30px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		border:1px solid #4385ff;
		padding: 0 10px;
		box-sizing: border-box;
	}
	thead{
		background: #fafafa;
	}
	table{
		width: 100%;
		text-align: center;
		border: 1px solid #f0f0f0;
	}
	th,td{
		border: 1px dashed #f0f0f0;
		text-align: left;
    padding-left: 8px;
	}
	th{
		height: 45px;
	}
	td{
		height: 62px;
	}
</style>

<div class="row-fluid">
	<div class="span12">
		<div class="portlet box ">
			<div class="portlet-body">
				<div class="input-box" style="margin-bottom: 10px;position: relative;display: flex;">
					<span style="margin-top:5px;">请输入订单号：</span>	
					<input type="text" placeholder="请输入搜索订单号" class="shuk" id="getorder">
					<div class="cesd btn" onclick="search()" style="background: #4385ff;color: #fff;margin-left:30px">
						搜索
					</div> 
					<div>
						<a href="{:Url('Orderlist/videodown')}?appletid=<?php echo $_GET['appletid']?>">
							<button id="sample_editable_1_new" class="btn" style="background-color:rgba(67, 133, 255, 0.102);color:#4385ff;border:1px solid #4385ff;height:30px;line-height:30px;padding:0 10px;margin-left:20px;">
							导出
							</button>
						</a>
					</div>
				</div>
	
				<!-- <div class="btn-group">
					<a href="{:Url('Orderlist/videodown')}?appletid=<?php echo $_GET['appletid']?>">
						<button id="sample_editable_1_new" class="btn" style="background: #6671e4;color: #fff">
						导出订单列表 
						</button>
					</a>
				</div> -->

				<table id="sample_editable_1">
					<thead>
						<tr>
							<th colspan="4">订单编号</th>
							<th>文章标题</th>
							<th>文章类型</th>
							<th>价格</th>
							<th>用户信息</th>
							<th>下单时间</th>
						</tr>
					</thead>

					<tbody>
					{if $order}
						{foreach $order as $item}
							<tr>
								<td colspan="4">{$item.orderid}</td>
								<td>{$item.title}</td>
								<td>
								{if $item.art_type == 1}付费文章{/if}
								{if $item.art_type == 2}付费视频{/if}
								{if $item.art_type == 3}付费音频{/if}
								</td>
								<td>{$item.paymoney}</td>
								<td><img src="{$item.avatar}" alt="" style="width:35px;height: 35px;border-radius:3px;margin-right: 20px">{$item.nickname}</td>
								<td style="text-align:left">下单时间：{:date("Y-m-d H:i:s",$item.creattime)}</td>
							</tr>
						{/foreach}
					{/if}
					</tbody>

				</table>


				<!-- 分页 -->
				<div>
					<div class="fenye_left">
						<!-- 一共查询到<font color="red" style="padding:0 10px;">{$counts}</font>条数据 -->
					</div>
					<div class="fenye_right">
						{$page}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>





<script type="text/javascript">
function heixiao(){
	if(confirm('你确定要核销该订单嘛?')){
		return true;
	}else{
		return false;
	}
}

function queren(){
	if(confirm('你确定要确认该订单嘛?')){
		return true;
	}else{
		return false;
	}
}

function search(){
	var order = $("#getorder").val();
	if(!order){
		alert("请输入订单号");
		return;
	}
	if(isNaN(order)){
		alert("请输入正确的订单号格式");
		return;
	}
	location.href = "{:Url('Orderlist/video')}?appletid=<?php echo $_GET['appletid']?>&order="+order;
}
</script>

{include file="public/foot_more" /}