{include file="public/head" /}
{include file="public/top" /}
<style>
.control-group{
	margin-top: 20px;
}
.navModel14{
	display: block !important;
}
.editors{
	max-width: 770px;
	min-height: 600px;
}
.w-e-text-container{
	min-height: 600px !important;
}
.weiz{
	margin-left:20px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.chongdingy{
	background-color: #f9f9f9;
	padding: 10px 0;
	border-radius: 5px;
}
.chongdingywz{
	text-align: left !important;
	font-size: 16px;
	padding-left: 20px;
}
.form_nobg{
	background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 216px;
  right: 0;
  height: 52px;
  line-height: 52px;
  box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.08);
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
	z-index: 1000;
}
.content_head_title{display:none}
.page_content{top:0;padding: 0;}
.back_go{
	border-bottom: 1px solid #eee;
  padding: 15px 15px 10px;
}
</style>
<input type="hidden" id="nowhtml" value="navModel"  class="navModel14-2">
	<div class="row-fluid">
		<div class="portlet box">
			<div class="portlet-body form">
				<form action="{:Url('Bargain/savecate')}?appletid=<?php echo $_GET['appletid']?>&cateid={$cateid}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
					<div class="back_go">
						<a href="#" onClick="javascript:history.go(-1);"><span><img src="__STATIC_ROOT__/image/static/zuo.png" alt="" style="width:28px;margin-left:-6px;margin-right:4px;"></span><span style="font-size:18px;">添加栏目</span></a>
					</div>
					<div class="control-group">
						<label class="control-label"><span>*</span> 栏目名称</label>
						<div class="controls">
							<input type="text" value="{if $cate}{$cate.title}{/if}" name="title" id="title" class="span5 m-wrap">
						</div>
					</div>
					<div class="form-actions form_nobg">
						<button type="submit" class="btn" style="color: #fff;background-color: #4385ff;">确定</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<style type="text/css">
		.modal{
			width: 795px !important;
			margin-left: -397px !important;
			min-height: 290px !important;
		}
	</style>
	<script type="text/javascript" charset="utf-8" src="__STATIC_ROOT__/plugin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC_ROOT__/plugin/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STATIC_ROOT__/plugin/ueditor/jquery.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STATIC_ROOT__/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript" src="__STATIC_ROOT__/webuploader/js/webuploader.min.js"></script>
	<script type="text/javascript">
    	function checkinfo(){
    		var title = $("#title").val();
    		if(!title){
        		alert("请输入栏目名称");
        		return false;
        	}
	    }
    </script>
{include file="public/foot_more" /}