<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/fornt/css2/base.css">
  <link rel="stylesheet" href="/fornt/css2/index.css">
  <link rel="stylesheet" href="/fornt/css2/iconfont.css">
  <link rel="stylesheet" type="text/css" href="/fornt/css2/tiao.css"/>
  <script src="/js/jquery.js" type="text/javascript"></script>
</head>
<body>
  <div id="web">
    <div class="header">
      <div class="title_list">
        <div class="header_title">
          <h1 style="color:#222222;font-family:微软雅黑, Microsoft YaHei">
            <font style="color:#1e50ae">{$mpname}</font>
          </h1>
        </div>
        <div class="header_list">
          <ul class="li_list clearfix">
            <li><a href="{:Url('index/index')}?uniacid=<?php echo $_GET['uniacid']?>">首页</a></li>
            <li><a href="#" class="active">产品推荐</a></li>
            <li><a href="{:Url('news/index')}?uniacid=<?php echo $_GET['uniacid']?>">新闻中心</a></li>
            <li><a href="{:Url('forum/index')}?uniacid=<?php echo $_GET['uniacid']?>">微同城</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="wrapper">
        <div id="sliderBox">
          {foreach $images as $item}
              <img src="{$item}" alt="">
          {/foreach}
        </div>
        <div class="btn01 btn" onclick="leftArrow()"><img src="/fornt/img2/left.png"/></div>
        <div class="btn02 btn" onclick="rightArrow()"><img src="/fornt/img2/right.png"/></div>
      </div>
      <script>
				var parent = document.getElementById("sliderBox");
				var children = parent.getElementsByTagName("img");		
        function leftArrow() {
          var firstChild = children[0];
          var tmp = firstChild;
          parent.removeChild(firstChild);
          parent.appendChild(tmp);
        }
        
        function rightArrow() {
          var lastChild = children[children.length-1];
          var tmp = lastChild;
          parent.removeChild(lastChild);
          parent.insertBefore(tmp,children[0]);
        }
        var timer = null;
        function autoPlay () {
            timer = setInterval(function () {
                rightArrow();
            },2000);
        }
        autoPlay();
        
        var wrapper = document.querySelector(".wrapper");
        wrapper.onmouseenter = function () {
            clearInterval(timer);
        }
        wrapper.onmouseleave = function () {
            autoPlay();    
        }

        function showDetail(pid){
            document.getElementById('fk').style.display='block';

            $.ajax({
                url: "{:Url('index/getPro')}?uniacid=<?php echo $_GET['uniacid']?>",
                type: "post",
                dataType: "json",
                data: {
                  pid: pid
                },
                success: (res) => {
                  $(".productName").html(res.title);
                  $("#desc").html(res.desc);
                  $("#price").html(res.price);
                  $("#pro_thumb").attr("src", res.thumb);
                  let images = "";
                  for(let i=0; i<res.text.length; i++){
                    images += "<li><a href='javascript:;'><img src='"+res.text[i]+"' ></a></li>";
                  }
                  $("#pro_banner").html(images);
                }
            })
        }

        function changePro(cid, res){
            $.ajax({
                url: "{:Url('index/changePro')}?uniacid=<?php echo $_GET['uniacid']?>",
                type: "post",
                dataType: "json",
                data: {
                  cate: cid
                },
                success: (res) => {
                  //console.log(res);
                  let content = "";
                  $.each(res, (k, v)=>{
                    content += '<li class="list2">\
                          <div id="rexiao">\
                            <a href="javascript:;" onclick="showDetail('+v.id+')"><img src="'+v.thumb+'" ></a>\
                            <p>'+v.title+'</p>\
                          </div>\
                        </li>';
                  })
                  $("#products").html(content);
                  
                }
              })
        }
      </script>
    </div>

    <div class="body">
      <div class="body_box clearfix">
        <div class="body_left">
          <div class="bleft_title">
            <h4 style="display:inline-block;color:#fff;font-weight:normal;height:45px;line-height:45px;margin-left:10px;">热销产品</h4>
          </div>
          <div class="bleft_content">
            <ul>
              <li class="bleft_content_news">
                  <a href="javascript:;" onclick="changePro(0, this)" class="bleft_content_newsl">全部产品</a>
              </li>
              {foreach $cates as $item}
                <li class="bleft_content_news">
                  <a href="javascript:;" onclick="changePro({$item.id}, this)" class="bleft_content_newsl">{$item.name}</a>
                </li>
              {/foreach}
            </ul>
          </div>
        </div>
        <div class="body_right">
          <div class="body_right_title">
            <div class="bright_title">
              <div class="bright_title_text">全部产品</div>
            </div>
          </div>
          <div class="bright_content">
				<div id="tu">
					<ul class="title3" id="products">
						{foreach $products as $item}
              <li class="list2">
                <div id="rexiao">
                  <a href="javascript:;" onclick="showDetail({$item.id})"><img src="{$item.thumb}" ></a>
                  <p>{$item.title}</p>
                </div>
              </li>
            {/foreach}
					</ul>
				</div>
			</div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="foot">
        <span class="f_l"></span>
        <a href="#"><span class="f_r">返回顶部</span></a>
      </div>
    </div>
  </div> 
  <div id="fk" class="fk" style="display: none;">
  	<div id="contentbg"></div>
  	<div id="fcontent">
        <div id="innercontent">
          <div id="multiContent">
            <a href="javascript:;" ><img id="pro_thumb" src="" /></a>
            <div id="you">
              <p class="productName"></p>
              <p><font style="color: rgb(227, 227, 227);" color="#e3e3e3">—————————————————————————————</font></p>
              <div class="f-propListContent J_productProp">
                <div class="f-propContent ">
                  <div class="f-propName" style="width:82px">简介<span class="f-colon">:</span></div>
                  <div class="f-propValue" id="desc"></div>
                </div>
                <div class="f-propContent J_mallPriceClass">
                  <div class="f-propName" title="价格" style="width:82px">价格<span class="f-colon">:</span></div>
                  <div class="f-propValue g_stress mallPriceBig f-mallPriceWrap"><span class="f-currencyVal">￥</span>
                    <span class="mallPrice" id="price"></span>
                  </div>
                </div>
                <div class="f-propContent J_mallPriceClass">
                  <div class="f-propName" title="价格" style="width:110px;float: none;">扫描二维码购买</div>
                  <div style="margin-left: 80px; margin-top: 10px;">
                    {if $showimg}
                      <img style="width: 140px; height: 140px;" src="{$showimg}">
                    {else}
                      <img style="width: 140px; height: 140px;" src="/image/noimage_1.png">
                    {/if}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="slideForProduct">
            <div class="slider">
              <ul class="ul-slider" id="pro_banner">
                
              </ul>
            </div>
          </div>
        </div>
        <a href="javascript:;" class="f-close" title="关闭" hidefocus="true" onclick="document.getElementById('fk').style.display='none'">关闭</a>
      </div>
  </div>
</body>
</html>