{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	form {
	     margin: 0 !important; 
	    display: inline-block !important;
	}	
</style>

<input type="hidden" id="nowhtml" value="navModel" class="navModel9-2">
	<div class="row-fluid">

	<div class="span12">


		<div class="portlet box ">


			<div class="portlet-body">


				<div class="input-box" style="margin-bottom: 10px; position: relative;">

					<div class="btn-group" style="float:right">

						<a href="javascript:history.back(-1)">
						<button id="sample_editable_1_new" class="btn green">
						返回
						</button>
						</a>

					</div>
				</div>

				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

					<thead>

						<tr>

					<!-- 		<th style="width: 50px;">ID</th>
							<th style="width: 100px;">缩略图</th>
							<th style="width: 200px;">拍卖品名称</th>
							<th style="width: 50px;">起拍价</th>
							<th style="width: 200px;">状态</th>
							<th width="200px;">操作</th> -->
						<td>用户昵称</td>

			            <td>保证金_余额</td>

			            <td>保证金_微信</td>

			            <td>缴纳时间</td>

			            <td>归还状态</td>

						</tr>

					</thead>

					<tbody>
						{if $list}
							{foreach $list as $item}
								<tr>
									<td>{$item.nickname}</td>
									<td>{$item.deposit}</td>
									<td>{$item.deposit_wx}</td>
									<td>{$item.createtime}</td>
									<td>
									{if $item['stat']==2}
					              	<a class="btn btn-danger btn-sm" id="128" >未退款</a>
					              	{else}
					              	<a class="btn btn-success btn-sm" id="128" >已退款</a>
					              	{/if}
					              	</td>
								</tr>
							{/foreach}
						{/if}
						
					</tbody>

				</table>
				<!-- 分页 -->
				{$d->render()}

			</div>

		</div>
		

	</div>

</div>

{include file="public/foot_more" /}