<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>万能官网底部信息</title>
<link href="/db/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<!--Main Footer-->
<footer class="main-footer">
<!--Widgets Section-->
<div class="auto-container">
<!--Discuss Section-->
<div class="inner-section">
<div class="clearfix">
<div class="pull-left">
<div class="cloud-banner">
  <div class="cloud-bubble-one"></div>
  <div class="cloud-bubble-two"></div>
  <div class="cloud-bubble-three"></div>
  <div class="cloud-bubble-text">为您提供出众的上云实践机会和全面的尊贵服务</div>
  <div class="cloud-bubble-link"><a href="#">免费注册</a></div>
</div>
<div class="bottombox">
  <div class="main" style="width: 1200px;">
    <ul class="bottom1_ul1 clearfix">
      <li><span>免</span>免费配置服务器</li>
      <li><span>免</span>免费修复bug</li>
      <li><span class="iconfont icon-chengben"></span>成本价定制功能</li>
      <li><span class="iconfont icon-group"></span>5000人交流大群</li>
      <li><span class="iconfont icon-kefu"></span>7X24小时客户服务</li>
    </ul>
    <div class="cloud-footer-nav clearfix">
      <div class="cloud-footer-nav-logo">
        <div class="cloud-comm">
          <div class="cloud-comm-logo"><span></span></div>
          <div class="cloud-info">
            <p>万能科技有限公司</p>
            <li>QQ：{$sbase.qq}</li>
            <li>TEl:{$sbase.hotline}</li>
            <p>QQ群:{$sbase.qq}</p>
          </div>
        </div>
        <div class="cloud-share">
          <p class="wei-xin"><span class="corner wx-corner"></span></p>
          <p class="wei-bo"><span class="corner wx-corner"></span></p>
          <ul class="clearfix">
            <li><a href="#"><span class="icon-blog"></span></a></li>
            <li><a href="#"><span class="icon-wei"></span></a></li>
            <li><a href="#"><span class="icon-qq"></span></a></li>
            <li><a href="#"><span class="icon-mail"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="bottom_fl clearfix">
        <div class="bottom_fl_div1 fl">
          <div class="bottom_fl_title">功能模块</div>
          <ul class="bottom_fl_div1_ul clearfix">
            <li><a href="/comhome/functionshow/show.html?id=8">可拖拽DIY</a></li>
            <li><a href="/comhome/functionshow/show.html?id=32">分销模块</a></li>
            <li><a href="/comhome/functionshow/show.html?id=28">文章管理系统</a></li>
            <li><a href="/comhome/functionshow/show.html?id=5">多规格商城</a></li>
            <li><a href="/comhome/functionshow/show.html?id=6">付费视频系统</a></li>
            <li><a href="/comhome/functionshow/show.html?id=30">万能表单</a></li>
            <li><a href="/comhome/functionshow/show.html?id=27">预约报名</a></li>
            <li><a href="/comhome/functionshow/show.html?id=7">多门店系统</a></li>
            <li><a href="/comhome/functionshow/show.html?id=34">付费预约</a></li>
            <li><a href="/comhome/functionshow/show.html?id=35">优惠券系统</a></li>
          </ul>
        </div>
        <div class="bottom_fl_div2 fl">
          <div class="bottom_fl_title">营销系统</div>
          <ul class="bottom_fl_div2_ul">
            <li><a href="/comhome/functionshow/show.html?id=37">店内点餐小程序</a></li>
            <li><a href="/comhome/functionshow/show.html?id=36">拼团商城小程序</a></li>
            <li><a href="/comhome/functionshow/show.html?id=33">秒杀商城小程序</a></li>
            <li><a href="/comhome/functionshow/show.html?id=39">积分签到小程序</a></li>
            <li><a href="/comhome/functionshow/show.html?id=41">积分兑换商城</a></li>
            <li><a href="/comhome/functionshow/show.html?id=14">手机客服小程序</a></li>
          </ul>
        </div>
        <div class="bottom_fl_div1 fl">
          <div class="bottom_fl_title">行业解决方案</div>
          <ul class="bottom_fl_div1_ul clearfix">
            <li><a href="/comhome/solution/show.html?id=2">智慧餐饮</a></li>
            <li><a href="/comhome/solution/show.html?id=7">智慧家装</a></li>
            <li><a href="/comhome/solution/show.html?id=3">智慧商城</a></li>
            <li><a href="/comhome/solution/show.html?id=8">智慧教育</a></li>
            <li><a href="/comhome/solution/show.html?id=4">智慧美业</a></li>
            <li><a href="/comhome/solution/show.html?id=9">婚纱摄影</a></li>
            <li><a href="/comhome/solution/show.html?id=5">智慧旅游</a></li>
            <li><a href="/comhome/solution/show.html?id=10">同城服务</a></li>
            <li><a href="/comhome/solution/show.html?id=6">智慧休娱</a></li>
          </ul>
        </div>
        <div class="bottom_fl_div2 fl">
          <div class="bottom_fl_title">关于我们</div>
          <ul class="bottom_fl_div2_ul">
            <li><a href="{:Url('Comhome/about/index')}">公司介绍</a></li>
            <li><a href="{:Url('Comhome/about/index')}">关注我们</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ul class="bottom2_ul1">
    <li><a href="https://pay.weixin.qq.com/">微信支付</a></li>
    <li>·</li>
    <li><a href="https://www.aliyun.com/">阿里云</a></li>
    <li>·</li>
    <li><a href="https://cloud.tencent.com/">腾讯云</a></li>
    <li>·</li>
    <li><a href="https://www.zzidc.com/">景安云</a></li>
    <li>·</li>
    <li><a href="https://mp.weixin.qq.com/cgi-bin/wx">微信小程序</a></li>
  </ul>
  <p class="bottom2_p">{$sbase.name}&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$sbase.copyright}</p>
</div>
<body>
<script src="/hone/js/jquery.js"></script> 
<script src="/hone/js/popper.min.js"></script> 
<script src="/hone/js/bootstrap.min.js"></script> 
<script src="/hone/js/jquery.fancybox.js"></script> 
<script src="/hone/js/appear.js"></script> 
<script src="/hone/js/owl.js"></script> 
<script src="/hone/js/wow.js"></script> 
<script src="/hone/js/jquery-ui.js"></script> 
<script src="/hone/js/script.js"></script>
</body>
</html>
