<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<link rel="stylesheet" type="text/css" href="/com/css/head_foot.css">
<link href="/hone/css/bootstrap.css" rel="stylesheet">
<link href="/hone/css/style.css" rel="stylesheet">
<link href="/hone/css/responsive.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">

<!-- Preloader -->
<div class="preloader"></div>

<!-- Main Header-->
<header class="main-header"> 
  
  <!--Header-Upper-->
  <div class="header-upper">
    <div class="auto-container">
      <div class="clearfix">
        <div class="pull-left logo-box">
          <div class="logo"><a href="/"><img class="nav_left block fl" src="{$sbase.logo}" style="width:150px;height:60px"/></a></div>
        </div>
        <div class="nav-outer clearfix"> 
          
          <!-- Main Menu -->
          <nav class="main-menu navbar-expand-md">
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                <li class="current"><a href="/">首页</a></li>
                <li class="dropdown"><a href="/comhome/functionshow/index.html">多功能</a>
                  <ul>
                    <li><a target="_blank" href="/comhome/functionshow/index.html">多功能列表</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="/comhome/cases/index.html">行业案例</a>
                  <ul>
                    <li><a href="/comhome/cases/index.html">案例演示</a></li>
                    <li><a target="_blank" href="https://xiaoyuan.xjjxzl.cn/weixinnews/weixinnew/">更多案例</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="/comhome/news/index.html">动态</a>
                  <ul>
                    <li><a href="/comhome/news/update.html">更新日记</a></li>
                    <li><a href="/comhome/news/gg.html">公告</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a target="_blank" href="https://xiaoyuan.xjjxzl.cn/forum.php?gid=1">产品中心</a></li>
                <li class="dropdown"><a href="/comhome/solution/index.html">解决方案</a>
                  <ul>
                    <li><a target="_blank" href="https://xiaoyuan.xjjxzl.cn/weixin/servicemarket/weixin/">开发交流</a></li>
                    <li><a target="_blank" href="https://xiaoyuan.xjjxzl.cn/weixin/developers/">学习教程</a></li>
                    <li><a target="_blank" href="https://xiaoyuan.xjjxzl.cn/portal.php?mod=list&catid=21">新闻动态</a></li>
                    <li><a target="_blank" href="https://xiaoyuan.xjjxzl.cn/weixin/weixin/">行业资讯</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="/comhome/about/index.html">关于我们</a></li>
                <li><a href="/Index/login/index.html">立即制作</a>
                  <ul>
                    <li><a href="/Index/login/index.html">立即登录</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a target="_blank" href="https://xiaoyuan.xjjxzl.cn">官方论坛</a>
              </ul>
            </div>
          </nav>
          
          <!--Option Box-->
          <div class="option-box"> 
            
            <!--Search Box-->
            <div class="search-box-outer">
              <div class="dropdown">
                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu1">
                  <li class="panel-outer">
                    <div class="form-container">
                      <form method="post" action="blog.html">
                        <div class="form-group">
                          <input type="search" name="field-name" value="" placeholder="Search Here" required>
                          <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="nav-btn"><span class="icon flaticon-menu"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Header Upper--> 
  
</header>
<!--End Main Header -->

</body>
</html>

