{include file="public/head" /}
{include file="public/top" /}
<script type="text/javascript" src="__STATIC_ROOT__/js/jscolor.js"></script>
<style type="text/css">
.navSale10{
	display: block !important;
}
.chongdingy{
	background-color: #f9f9f9;
	padding: 10px 0;
	border-radius: 5px;
}
.chongdingywz{
	text-align: left !important;
	font-size: 16px;
	padding-left: 20px;
}
.jscolor{
	width: 30px;
	height: 30px;
	border: 1px solid #dedede;
	outline: none;
}
.m-wrap{
	outline: none;
	padding-left: 10px;
}
.form_nobg{
	background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 216px;
  right: 0;
  height: 52px;
  line-height: 52px;
  box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.08);
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
	z-index: 1000;
}
</style>

<input type="hidden" id="nowhtml" value="navModel" class="navSale10-1">

	<div class="row-fluid">

		<div class="portlet box">
			<div class="portlet-body form">
				<div class="control-group chongdingy" style="background-color:#fcf8e3; margin-bottom:20px !important">
					<label class="control-label chongdingywz" style="font-size:14px;color:#5C6270">不填写地图KEY会使用默认KEY，有频率限制，每秒5次，<a style="color: #4385ff" href="http://lbs.qq.com/console/key.html" target="_blank">点击申请</a> （选择移动端）</label>
					<label class="control-label chongdingywz" style="font-size:14px;color:#5C6270">小程序官方后台，服务器域名（request合法域名）增加：apis.map.qq.com，否则无法定位</label>
				</div>

				<form action="{:Url('Shops/basesave')}?appletid=<?php echo $_GET['appletid']?>" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data">

					
					<div class="control-group chongdingy">

						<label class="control-label chongdingywz">多门店基础设置</label>

					</div>
					
					<div class="control-group">

						<label class="control-label">开启门店搜索</label>

						<div class="controls">


							<label class="radio">

							<input type="radio" name="search" value="0" {if $bases}{if $bases.search==0}checked=checked{/if}{else}checked=checked{/if}/>

							关闭

							</label> 

							<label class="radio">
		                        <input type="radio" name="search" value="1" {if $bases}{if $bases.search==1}checked=checked{/if}{/if}/>
		                        开启
		                    </label>
		                    
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请选择</span>
						</div>

					</div>
					<div class="control-group">

						<label class="control-label">门店别名</label>

						<div class="controls">

							<input name="title" type="text" class="span2 m-wrap" value="{if $bases}{$bases.title}{/if}"/>
							
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">如：校区、连锁店</span>

						</div>

					</div>

					<div class="control-group">

						<label class="control-label">门店显示方式</label>

						<div class="controls">


							<label class="radio">

							<input type="radio" name="flag" value="0" {if $bases}{if $bases.flag==0}checked=checked{/if}{else}checked=checked{/if}/>

							直接显示所有门店

							</label> 

							<label class="radio">
		                        <input type="radio" name="flag" value="1" {if $bases}{if $bases.flag==1}checked=checked{/if}{/if}/>
		                        只显示当前城市门店（城市可切换）
		                    </label>
		                    
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请选择</span>
						</div>

					</div>


					<div class="control-group">

						<label class="control-label">腾讯地图KEY</label>

						<div class="controls">

							<input name="mapkey" type="text" class="span2 m-wrap" value="{if $bases}{$bases.mapkey}{/if}"/>
							
							<span style="color:#c7cddb; line-height:40px; margin-left:20px;">请看上方说明</span>

						</div>

					</div>

					          
						
					
					
					<div class="form-actions form_nobg">
						<button type="submit" class="btn" style="background: #4385ff;color: #fff;">提交</button>
					</div>



				</form>

			</div>

		</div>

	</div>





























{include file="public/foot_more" /}